.review-container {
    background-color: lightgray;
    width: 30%;
    .review-add {
        height: 40%;
        padding: 20px 10px;
        height: fit-content;
        >*:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    .review-list {
        height: 60%;
        max-height: 60%;
        overflow-y: overlay;
        list-style: none;
        padding: 10px;
        .review-preview {
            position: relative;
            background-color: #fefefe; 
            padding: 5px;
            button {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            overflow: hidden;
            width: 100%; 
            text-overflow: wrap; 
            text-align: center;
            margin-bottom: 15px; 
        }
    }
}